body {
  background: linear-gradient(to bottom right, #b39ddb, #ba68c8, #7e57c2);
}

#note {
  color: black;
}

h2 {
  border: ridge 50px;
  border-color: ;
  font-size: 75px;
  font-family: cursive;
  text-align: center;
  width: 80%;
  height: 350px;
  background-color: ;
  padding-top: 260px;
  margin: 100px;
}
